name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/flask-cicd-app:latest

  deploy:
    name: Deploy to EC2
    needs: build-test-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 over SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            docker pull ${{ secrets.DOCKER_USERNAME }}/flask-cicd-app:latest
            docker stop flask-cicd-app || true
            docker rm flask-cicd-app || true
            docker run -d -p 80:80 --name flask-cicd-app ${{ secrets.DOCKER_USERNAME }}/flask-cicd-app:latest
